/*
Up and running with Bootstrap and Angular
*/
@import 'css/bootstrap.scss';


header[role="intro"] {
	text-align:center;
	color:#fff;
/* Rectangle 1: */
/* Rectangle 1: */
background-image: -o-linear-gradient(107deg, #52389A 0%, #B989BD 98%);
background-image: -moz-linear-gradient(107deg, #52389A 0%, #B989BD 98%);
background-image: -ms-linear-gradient(107deg, #52389A 0%, #B989BD 98%);
background-image: linear-gradient(17deg, #52389A 0%, #B989BD 98%);

a, a:visited, a:hover {color:$brand-warning}


}