/*
Up and running with Bootstrap and Angular
*/
@import 'css/bootstrap.scss';


header[role="intro"] {
	text-align:center;
	color:#fff;
	background-image: -o-linear-gradient(119deg, #95ACB0 4%, #B3977B 94%);
	background-image: -moz-linear-gradient(119deg, #95ACB0 4%, #B3977B 94%);
	background-image: -ms-linear-gradient(119deg, #95ACB0 4%, #B3977B 94%);
	background-image: linear-gradient(29deg, #95ACB0 4%, #B3977B 94%);

	text-shadow:-1px -1px 1px #777;

	a, a:visited, a:hover {color:$brand-warning}


}

.btn-css {
	@extend .btn-info;
}

.btn-js {
	@extend .btn-warning;
}